/*  OBJECTS  */
.atom-large {
	height:300px;
	width:300px;
	border-radius:150px 150px 150px 150px;
}

.atom-small {
	height:200px;
	width:200px;
	border-radius:100px 100px 100px 100px;
}

.check {
	height:36px;
	width:100px;
	border-radius:12px 12px 12px 12px;
}

.light {
	height:24px;
	width:24px;
	border-radius:12px 12px 12px 12px;
}

.mode {
	height:36px;
	width:100px;
	border-radius:12px 12px 12px 12px;
}

.num-text {
	height:50px;
	width:40px;
	border-radius:12px 12px 12px 12px;
}

.result {
	height:36px;
	width:100px;
	border-radius:12px 12px 12px 12px;
}


/*  COLOR OPTIONS  */
.aqua {
	background-image:url("aqua.png");
	background-color:#3399CC;
	border-bottom-color:#3399CC;
	border-left-color:#3399CC;
	border-right-color:#3399CC;
	border-top-color:#3399CC;
}

.cyan {
	background-image:url("cyan.png");
	background-color:#33FFFF;
	border-bottom-color:#33FFFF;
	border-left-color:#33FFFF;
	border-right-color:#33FFFF;
	border-top-color:#33FFFF;
}

.green {
	background-image:url("green.png");
	background-color:#33CC00;
	border-bottom-color:#33CC00;
	border-left-color:#33CC00;
	border-right-color:#33CC00;
	border-top-color:#33CC00;
}

.grey {
	background-image:url("grey.png");
	background-color:#666666;
	border-bottom-color:#666666;
	border-left-color:#666666;
	border-right-color:#666666;
	border-top-color:#666666;
}

.hotpink {
	background-image:url("hotpink.png");
	background-color:#FF0033;
	border-bottom-color:#FF0033;
	border-left-color:#FF0033;
	border-right-color:#FF0033;
	border-top-color:#FF0033;
}

.lemon {
	background-image:url("lemon.png");
	background-color:#FFFF00;
	border-bottom-color:#FFFF00;
	border-left-color:#FFFF00;
	border-right-color:#FFFF00;
	border-top-color:#FFFF00;
}

.lime {
	background-image:url("lime.png");
	background-color:#33FF00;
	border-bottom-color:#33FF00;
	border-left-color:#33FF00;
	border-right-color:#33FF00;
	border-top-color:#33FF00;
}

.magenta {
	background-image:url("magenta.png");
	background-color:#FF00FF;
	border-bottom-color:#FF00FF;
	border-left-color:#FF00FF;
	border-right-color:#FF00FF;
	border-top-color:#FF00FF;
}

.orange {
	background-image:url("orange.png");
	background-color:#FF9900;
	border-bottom-color:#FF9900;
	border-left-color:#FF9900;
	border-right-color:#FF9900;
	border-top-color:#FF9900;
}

.pink {
	background-image:url("pink.png");
	background-color:#CC3366;
	border-bottom-color:#CC3366;
	border-left-color:#CC3366;
	border-right-color:#CC3366;
	border-top-color:#CC3366;
}

.plum {
	background-image:url("gray_jean/plum_jean2.png");
	background-color:#330066;
	border-bottom-color:#330066;
	border-left-color:#330066;
	border-right-color:#330066;
	border-top-color:#330066;
}

.spinach {
	background-image:url("gray_jean/green_jean2.png");
	background-color:#006633;
	border-bottom-color:#006633;
	border-left-color:#006633;
	border-right-color:#006633;
	border-top-color:#006633;
}

.teal {
	background-image:url("teal.png");
	background-color:#93C3CD;
	border-bottom-color:#93C3CD;
	border-left-color:#93C3CD;
	border-right-color:#93C3CD;
	border-top-color:#93C3CD;
}

.tomato {
	background-image:url("gray_jean/red_jean2.png");
	background-color:#993300;
	border-bottom-color:#993300;
	border-left-color:#993300;
	border-right-color:#993300;
	border-top-color:#993300;
}

.yellow {
	background-image:url("yellow.png");
	background-color:#CCCC00;
	border-bottom-color:#CCCC00;
	border-left-color:#CCCC00;
	border-right-color:#CCCC00;
	border-top-color:#CCCC00;
}

.line {
	position:absolute; /* doesn't have to be absolute */
	z-index: -1;         /* places the line behind other elements */
}
 
.line div {
    position:absolute;
    left: 0px; top: 0px;
    border-left-color: transparent;
    border-style: solid;
}
